<?php
$order = Mage::getModel('sales/order');
$orderId = Mage::getSingleton('checkout/session')->getLastRealOrderId();
$order->loadByIncrementId($orderId);
$ponumber = $order->getPayment()->getPoNumber();
?>
<h2><?php echo $this->__('Account Payment') ?></h2>
<p>This order will be placed on your account. Payment requested within 14 days.</p>
<p>PO Number supplied: <?php echo $ponumber; ?></p>
<form name="accountpayment" method="post" action="<?php echo Mage::helper('accountpayment')->getPaymentGatewayUrl(); ?>">
  <input type="hidden" name="orderId" value="<?php echo $orderId; ?>">
  <input type="submit" value="<?php echo $this->__('Confirm') ?>" />
</form>