<div class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
  <div>
    <label class="required">Purchase Order Number/Reference</label>
    <div class="input-box">
      <input class="input-text required-entry" type="text" title="<?php echo $this->__('PO Number') ?>" name="payment[po_number]" value="" />
    </div>
    <div>I confirm that I have authority on behalf of the individual/organisation/school to enter into this agreement.</div>
</div>
<div>
    <?php echo $this->getMethod()->getConfigData('message');?>
</div>